$bg-main: #0f172a;

.button {
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    width: 150px;
    align-self: center;
    margin-top: 0.75rem;

    &.primary-button {
        background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
        color: $bg-main;
    }
    &:active{
        transform: scale(0.8);
    }
}